[submodule "submodules/runtest"]
	path = submodules/runtest
	url = https://github.com/bast/runtest.git
[submodule "submodules/geom"]
	path = submodules/geom
	url = https://github.com/pgrobasillobre/geom.git
