functions/__pycache__
classes/__pycache__
__pycache__

.__main__*

tmp/

geom.egg-info/
build/
venv/

geom/tests/cone/*xyz
geom/tests/graphene*/*xyz
geom/tests/microscope/*xyz
geom/tests/pyramid/*xyz
geom/tests/rod*/*xyz
geom/tests/sphere*/*xyz
geom/tests/tip/*xyz
geom/tests/cuboctahedron/*xyz
geom/tests/decahedron/*xyz
geom/tests/icosahedron/*xyz
geom/tests/dimer/*xyz
geom/tests/bowtie/*xyz
geom/tests/sphere_continuum/*msh
geom/tests/rod_continuum/*msh

geom/tests/specular/*000*.xyz
geom/tests/control_distance/sphere_r_10.0_center_0.0_0.0_0.0_+x_d_10.00.xyz
geom/tests/control_rotation/doxorubicin_+x_degree_90.0.xyz
geom/tests/t1_distance/doxorubicin_-y_d_15.20.xyz
geom/tests/r1_rotation/doxorubicin_-y_degree_30.0.xyz

geom/tests/rod*/*msh
geom/tests/sphere*/*msh

